{{- range $name, $rules := .Values.rbac.customRoles -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ tpl $name $ }}
rules:
  {{- $rules | toYaml | nindent 2 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ tpl $name $ }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ tpl $name $ }}
subjects:
  - kind: ServiceAccount
    name: '{{ $.Values.rbac.existingServiceAccount | default (include "generic-service.fullname" $) }}'
---
{{- end }}

{{- range .Values.rbac.roles }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ tpl . $ }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ tpl . $ }}
subjects:
  - kind: ServiceAccount
    name: '{{ $.Values.rbac.existingServiceAccount | default (include "generic-service.fullname" $) }}'
---
{{- end }}

{{- range .Values.rbac.clusterRoles }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  # ClusterRoleBindings are cluster-scoped but we need them to be namespace-specific here, because we reference a single ServiceAccount in a specific namespace.
  # To avoid collisions when deploying multiple instances of this chart we prepend the Release name to the name here.
  name: '{{ include "generic-service.fullname" $ }}-{{ tpl . $ }}'
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ tpl . $ }}
subjects:
  - kind: ServiceAccount
    name: '{{ $.Values.rbac.existingServiceAccount | default (include "generic-service.fullname" $) }}'
    namespace: '{{ $.Release.Namespace }}'
---
{{- end }}

{{- if and (not .Values.rbac.existingServiceAccount) (or .Values.rbac.customRoles .Values.rbac.roles .Values.rbac.clusterRoles) }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: '{{ include "generic-service.fullname" . }}'
{{- end }}
