name: Release
on:
  push:
    branches: [master]
    paths: ['**/Chart.yaml']

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      # Prepare
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: azure/setup-helm@v1

      # Release
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - uses: helm/chart-releaser-action@v1.1.0
        with:
          charts_repo_url: https://helm.nano-byte.net
        env:
          CR_TOKEN: ${{github.token}}
