name: Test
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # Prepare
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          show-progress: false
      - uses: azure/setup-helm@v4
        with:
          token: ${{github.token}}
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - uses: helm/chart-testing-action@v2.7.0

      # Lint
      - name: Lint charts
        run: ct lint --all --validate-maintainers=false

      # Install
      - name: Set up Kubernetes
        uses: helm/kind-action@v1.12.0
      - name: Install CRDs
        run: |
          kubectl apply -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/main/example/prometheus-operator-crd/monitoring.coreos.com_podmonitors.yaml
          kubectl apply -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/main/example/prometheus-operator-crd/monitoring.coreos.com_prometheusrules.yaml
          kubectl apply -f https://raw.githubusercontent.com/opsgy/loki-rule-operator/main/chart/crds/logging.opsgy.com_lokirules.yaml
          kubectl apply -f https://raw.githubusercontent.com/istio/istio/master/manifests/charts/base/files/crd-all.gen.yaml
          kubectl apply -f https://raw.githubusercontent.com/argoproj/argo-rollouts/master/manifests/crds/rollout-crd.yaml
      - name: Install charts
        run: ct install --all
